.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url('/svg-layers');
}

.loginCon {
    width: 40%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin-top: 30px;
}

.username, .password, .idBtn, .googleLogin {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 90%;
    border-radius: 10px;
    background-color: #F2F2F2;
}

#username, #password {
    width: 100%;
    background: transparent;
    padding: 10px 20px;
    border: none;
}

.idBtn {
    display: block;
    background-color: #22274F;
    font-size: 1.5rem;
    font-weight: 500;
}

.idBtn a {
    color: white;
}

#username:focus, #password:focus {
    outline: none;
}

.loginCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    height: 100%;
}

.loginCon > h2 {
    font-size: 4rem;
    font-weight: 700;
}

.googleLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
    border: 1px solid black;
    margin-top: 30px;
}

.sideCon {
    height: 100vh;
    width: 60%;
    overflow: hidden;
}

.bgImg {
    height: 100vh;
    width: auto;
    object-fit: cover;
    object-position: right;
}